/* All styles for your Card Components live here */
.card-container {
	width: 500px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 0 90px;
}

.card-container img {
	width: 100%;
}

.card-container p {
	padding: 0 15px;
	line-height: 1.5;
}

.card-title {
	font-weight: bold;
}

.card-link {
	color: lightgray;
}
